{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
<div class="container">
    <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/111434432/original/e2374f74fc6212625cc2bd67e891b8e7a235062a/write-a-compelling-elevator-pitch.jpg" style="height:200px;width:480px;margin-left: 270px;">
    <marquee behavior="inherit" direction="inherit"><h1 style="text-align:center;font-family: 'Chilanka', cursive;color: rgb(76, 77, 80)">Pitch According To The Category</h1></marquee>
    <hr>                 
</div>
<br>
<div class="container" style="background-color: rgba(255, 245, 185, 0.8);">
<img src="/static/photos/one-minute.jpg" style="height:120px;width:130px;">
<p style="font-size: 20px;"> <strong> You only have 1 minute to express your self to someone.</strong> </p>
</div>
<hr>
<div class="container">
<br>
<h2 style="text-align:center;"> <strong>Pitch Categories </strong></h2>
<br>
<h3 class="add-category"><a class="btn btn-primary" href="/add/ibyiciro" style="background-color:#66a5a2; float:left;"><span aria-hidden="true"> ADD Category </span></a></h3>
<br><br><br>
<strong style="font-size: 20px;">{{ macro.displayCategoryList(ibyiciro) }} </strong>

</div>


{% endblock %}