{% macro displayCategoryList(category_list) %}
    {% for category in category_list%}
        <div>
          <a href="{{url_for('main.category',id=category.id)}}"><p>{{category.type_cate|upper}}</p></a>
          <br>
        </div>

    {% endfor %}
{% endmacro %}

{% macro displayPitches(pitch_list) %}
  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <p>{{pitch_list.head|upper}}</p></a>
        <div class="col-md-10 col-sm-12">
            <h3>{{pitch_list.text}}</h3>   
      </div>
    </div>
   </div>

  </div>
{% endmacro %}