{% extends "base.html" %}
{% import 'macros.html' as macro%}
{% block content %}
  <div class=" col-md-10 col-md-offset-1 col-sm-12">
      <h3 class="text-center">{{ibyiciro.name|upper}}</h3>
        <a class="btn btn-primary text-center text-danger " href="/category/view_pitch/{{pitch.ibyiciro.id}}"> Post a Pitch
        </a>
        <hr>
  </div>

    {% if pitch %}
      <div class="col-sm-12 col-md-8">
          {{ macro.displayPitches(pitch)}}
      </div>
  {%else%}
        <div class="well">
          <h4 style="padding:10%; text-align:center; font-size:50px">NO PITCH </h4>
        </div>
  {% endif %}

{% endblock %}